<?php
/**
 * The base configuration for WordPress
 *
 * The wp-config.php creation script uses this file during the
 * installation. You don't have to use the web site, you can
 * copy this file to "wp-config.php" and fill in the values.
 *
 * This file contains the following configurations:
 *
 * * MySQL settings
 * * Secret keys
 * * Database table prefix
 * * ABSPATH
 *
 * @link https://codex.wordpress.org/Editing_wp-config.php
 *
 * @package WordPress
 */

// ** MySQL settings - You can get this info from your web host ** //
/** The name of the database for WordPress */
define('DB_NAME', '{{ wordpress_db }}');

/** MySQL database username */
define('DB_USER', '{{ wordpress_dbuser }}');

/** MySQL database password */
define('DB_PASSWORD', '{{ wordpress_dbpass }}');

/** MySQL hostname */
define('DB_HOST', 'localhost');

/** Database Charset to use in creating database tables. */
define('DB_CHARSET', 'utf8');

/** The Database Collate type. Don't change this if in doubt. */
define('DB_COLLATE', '');

/**#@+
 * Authentication Unique Keys and Salts.
 *
 * Change these to different unique phrases!
 * You can generate these using the {@link https://api.wordpress.org/secret-key/1.1/salt/ WordPress.org secret-key service}
 * You can change these at any point in time to invalidate all existing cookies. This will force all users to have to log in again.
 *
 * @since 2.6.0
 */
/**
define('AUTH_KEY',         'put your unique phrase here');
define('SECURE_AUTH_KEY',  'put your unique phrase here');
define('LOGGED_IN_KEY',    'put your unique phrase here');
define('NONCE_KEY',        'put your unique phrase here');
define('AUTH_SALT',        'put your unique phrase here');
define('SECURE_AUTH_SALT', 'put your unique phrase here');
define('LOGGED_IN_SALT',   'put your unique phrase here');
define('NONCE_SALT',       'put your unique phrase here');
*/
define('AUTH_KEY',         'T,`17rd~~.*ztnVcb4bu}^Q-$Ca%oND*W#@8K{P}KKm9+vZP!:4G6Rl]zk8G/H*:');
define('SECURE_AUTH_KEY',  '8+;1Tz%)OJT%-!Gq4=Hmd/;HWw|&^ox@wG;J8h08Z!!CiO :_SNp2V&1?,3;ZzJi');
define('LOGGED_IN_KEY',    'TeURhTQ{cu-1m|oO`Yv6G0dizb~tl<+9wD+|<5<qNX3Trq?WKq_Ny]U#t] Dwi`3');
define('NONCE_KEY',        'i3~|&e8}%&wR!RE?Wtpd]+A||L!:w7r6F+Ta|mY|Y|T;Hk3<uwY_)5C:uf-X7V%w');
define('AUTH_SALT',        '-Y}-4:`pyR@4P&L9_qM4b0Zo}gvHq{*.JF[G{{D9l.KeYt,={V_3z5-ptB-=VYIp');
define('SECURE_AUTH_SALT', 'fwM_&@S$+>sa8~v#,g0sZ%gxi{?#F+yzB`$*~EnR%n7 YKHP%<(15FD6ws22XESb');
define('LOGGED_IN_SALT',   'p,F;|BZ^gCtJL;>m$+yDWl<+C;M?[Hf?Z50 om7)1@`xZ)iZzRgF,~8HA8/!o9|,');
define('NONCE_SALT',       'B2?jOgLJu|l@oti-+|vIwz/*P&``ro|sBsFe=Cn2^gXbZJG@<,7S0o%e@#K/N+#(');

/**#@-*/

/**
 * WordPress Database Table prefix.
 *
 * You can have multiple installations in one database if you give each
 * a unique prefix. Only numbers, letters, and underscores please!
 */
$table_prefix  = 'wp_';

/**
 * For developers: WordPress debugging mode.
 *
 * Change this to true to enable the display of notices during development.
 * It is strongly recommended that plugin and theme developers use WP_DEBUG
 * in their development environments.
 *
 * For information on other constants that can be used for debugging,
 * visit the Codex.
 *
 * @link https://codex.wordpress.org/Debugging_in_WordPress
 */
define('WP_DEBUG', false);

/* That's all, stop editing! Happy blogging. */

/** Absolute path to the WordPress directory. */
if ( !defined('ABSPATH') )
	define('ABSPATH', dirname(__FILE__) . '/');

/** Sets up WordPress vars and included files. */
require_once(ABSPATH . 'wp-settings.php');
